h4.panel-title {
	padding-top:7px;
}

.menu-item-title {
	padding: 5px 0px;
}

.menu-item-price {
	float: right;
	font-weight: 400;
}

.menu-item-photo {
	width: 100%;
}

#checkout-button {
	margin-top: 20px;
}

div#total-price {
	font-size: 20px;
	font-weight: 900;
}

#calc-prices-button {
	margin-top: 50px;
}