<template name="ajaxExercise">

  {{> playgroundHeader}}

  <!-- Playground Grid Section -->
  <section id="playground" class="bg-light-gray">
    <div class="container">
    	<div class="row">
    		<div class="movie-search col-xs-12">
    			<input name="movie-title" type="text" placeholder="Enter Movie Title">
    		</div>
    		<h1 class="item-price" data-info="{ 'price': 5, 'sku': '2343tqr' }">HERE</h1>
    	</div>
    	<article>
	      <div class="row">
	      	<h1 class="movie-title col-sm-6">
	      	</h1>
	      </div>
	      <div class="row">
	      	<p class="movie-rating col-xs-12">
	      	</p>
	      	<p class="movie-actors col-xs-12">
	      	</p>
	      	<p class="movie-plot col-xs-12">
	      	</p>
	      </div>
	    </article>
    </div>
  </section>

</template>