<template name="highchartsAnnotation">

  <section id="items-list" class="container">
    <div class="row cart-title-row">
      <div class="cart-title col-xs-6 col-xs-offset-3">
        <h1>
          Highcharts Annotation
        </h1>
      </div>
    </div>
    <div class="row">
      <div id="chart" class="col-xs-12">

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <legend>Annotation Manager</legend>
        <div class="col-md-6">
          <h2>Submit New Annotation</h2>
          <form id="new-annotation-form" class="form-responsive">
            <fieldset>
              <!-- Text input-->
              <div class="form-group">
                <label for="title">Annotation Title</label>
                <div class="controls">
                  <input name="title" type="text" placeholder="" class="form-control input-xlarge">

                </div>
              </div>

              <!-- Textarea -->
              <div class="form-group">
                <label for="text">Annotation Content</label>
                <div class="controls">
                  <textarea class="form-control" name="text"></textarea>
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label for="x">Annotation Date</label>
                <div class="controls">
                  <input name="x" type="date" placeholder="" class="input-xlarge form-control">
                </div>
              </div>

              <!-- Button -->
              <div class="form-group">
                <div class="controls">
                  <button id="submit" name="submit" type="submit" placeholder="" class="btn btn-primary">Submit Annotation</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="col-md-6">
          <h2>My Annotations</h2>
          <table class="table">
            <thead>
              <tr class="">
                <th colspan="2">Actions</th>
                <th colspan="1">Title</th>
                <th colspan="1">Date</th>
              </tr>
            </thead>
            <tbody id="annotations-list">

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <!-- Modal -->
  <div class="modal fade" id="update-annotation-modal" tabindex="-1" role="dialog" aria-labelledby="update-annotation-modal-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="update-annotation-modal-label">Edit Annotation</h4>
        </div>
        <div class="modal-body">

        </div>
      </div>
    </div>
  </div>

</template>
