<template name="playground">

  {{> playgroundHeader}}

  <!-- Playground Grid Section -->
  <section id="playground" class="bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2 class="section-heading">My Playground</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 playground-item">
          <a href="/playground/shopping-cart" class="playground-link" data-toggle="modal">
            <div class="playground-hover">
              <div class="playground-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="/img/playground/shopping-cart.png" class="img-responsive" alt="">
          </a>
          <div class="playground-caption">
            <h4>Shopping Cart using JS</h4>
            <p class="text-muted">I created a shopping cart that forced me to create dynamic actions with JavaScript and jQuery.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 playground-item">
          <a href="/playground/omdb" class="playground-link" data-toggle="modal">
            <div class="playground-hover">
              <div class="playground-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="/img/playground/omdb.jpeg" class="img-responsive" alt="">
          </a>
          <div class="playground-caption">
            <h4>OMDB API</h4>
            <p class="text-muted">I learned how to send AJAX requests to the Open Movie Database server and utilize the returned values in interesting ways.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 playground-item">
          <a href="/playground/highcharts" class="playground-link" data-toggle="modal">
            <div class="playground-hover">
              <div class="playground-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="/img/playground/highcharts.jpeg" class="img-responsive" alt="">
          </a>
          <div class="playground-caption">
            <h4>HighCharts</h4>
            <p class="text-muted">I learned how to apply intermediate JavaScript concepts with hashes, arrays, and custom functions to display vivid charts that give meaning to large amounts of data.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

</template>
